.project {
    height: vw(400px);
    display: flex;
    flex-direction: column;  
    align-items: flex-start;

    &__subtitle {
        padding: vw(4px) vw(8px);

        font-size: vw(18px);
        background-color: $Yellow;
    }
    &__title {
        margin-top: vw(20px);
        font-size: vw(74px);
        font-weight: 400;
    }
    &__description {
        width: vw(450px);
        margin-top: vw(20px);
        font-size: vw(26px);
    }
    &__storeLinks {
        margin-top: vw(60px);
    }
}

@media (max-width: 700px) {
    .project {
        height: 180px;
        margin-top: 20px;

        &__subtitle {
            padding: 4px 8px;
            font-size: 12px;
        }
        &__title {
            margin-top: 12px;
            font-size: 18px;
        }
        &__description {
            width: 100%;
            margin-top: 6px;
            font-size: 14px;
        }
        &__storeLinks {
            margin-top: 20px;
        }
    }
}