@import "/src/components/common/variables";

.heroPageSlider {
    position: fixed;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 1.5vw;    
}

@include media-tablet-or-narrowScreen {
    .heroPageSlider {
        position: static;
        width: 100%;
        min-height: 320px;
        flex: 100%;
    }
    h1 {
        font-size: 5vw;
    }
}