@import "/src/components/common/variables";

.heroPageSlider {
    position: fixed;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.slider__item {
    width: 100%;
    height: 100%;
}
@include media-tablet-or-narrowScreen {
    .heroPageSlider {
        position: static;
        width: 100%;
        min-height: 320px;
        flex: 100%;
    }
}