@import "../../../styles/lib.scss";

.promoBlock__arrow {
    &-header {
        width: vh(140px);
        height: vh(16px);
        margin-left: vh(50px);
    }
    &-body {
        width: vh(377px);
        height: vh(16px);
        position: absolute;
        bottom: vh(8px);
        left: vh(-1px);
        transform: translateY(100%);
        pointer-events: none;
    }
}

@media (min-width: 700px) and (max-aspect-ratio: 18 / 10) {
    .promoBlock__arrow {
        &-header {
            width: vw(140px);
            height: vw(16px);
            margin-left: vw(50px);
        }
        &-body {
            width: vw(377px);
            height: vw(16px);
            bottom: vw(8px);
            left: vw(0px);
        }
    }
}

@media (max-width: 700px) {
    .promoBlock__arrow {
        &-header {
            display: none;
        }
        &-body {
            display: none;
        }
    }
}