@import "/src/components/common/variables";

.submit-button {
    padding: 2.5vh 5.993vh;
    border: 1px solid $white;

    background-color: transparent;
    color: $white;

    font-size: 1.67vh;
    text-transform: uppercase;

    transition: 0.2s $timing-function;
    cursor: pointer;

    &:hover {
        border-color: $orange;
        color: $orange;
    }
}

@media (max-width: $tablet2) {
    .submit-button {
        padding: 24px 44px;
        font-size: 18px;
    }   
}
@media (max-width: $tablet) {
    .submit-button {
        padding: 20px 24px;
    }
}
@media (max-width: $mobile) {
    .submit-button {
        font-size: 14px;
    }
}