@import "../../styles/lib.scss";

.promoBlock {
    width: 100%;
    height: 100vh;
    padding-top: vw(90px);
    border-bottom: 1px solid $Coal;
    
    display: flex;

    &__info {
        min-width: vw(1005px);
        height: 100%;
        padding-top: vh(40px);
        padding-bottom: vh(40px);
        padding-left: vh(130px);

        position: relative;

        display: flex;
        flex-direction: column;
        align-self: flex-start;

        &>div {
            display: flex;
        }
    }

    &__dots {
        margin-left: vh(4px);
    }

    &__eye {
        width: vh(68px);
        height: vh(38px);
        position: absolute;
        top: vh(40px);
        right: vh(40px);
    }

    &__subtitle {
        margin-top: vh(140px);
        margin-left: vh(4px);

        font-size: vh(16px);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.26em;
        opacity: 0.8;
    }

    &__title {
        margin-top: vh(30px);

        font-size: vh(100px);
        font-weight: 400;
        line-height: 1.2;
    }

    &__description {
        width: vh(500px);
        margin-top: vh(40px);
        margin-left: vh(3px);
        font-size: vh(26px);
    }

    &__buttons {
        margin-top: auto;
        display: flex;
        gap: vh(16px);
    }

    &__competencies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        & li {
            border-left: 1px solid $Coal;
        }

        & li:nth-child(n+3) {
            border-top: 1px solid $Coal;
        }
    }
}

.competence {
    padding: vh(40px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__icon {
        width: vh(120px);
        height: vh(120px);

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $Coal;

        & svg {
            width: 100%;
            height: 100%;
        }
    }

    &__description {
        font-size: vh(26px);
        opacity: 0.8;
    }
}

@media (min-width: 701px) and (max-aspect-ratio: 37 / 20)  {
    .promoBlock {
        padding-top: vw(90px);

        &__info {
            padding-top: vw(40px);
            padding-bottom: vw(40px);
            padding-left: vh(130px);
        }
        &__dots {
            margin-left: vw(4px);
        }
        &__eye {
            width: vw(68px);
            height: vw(38px);
            top: vw(40px);
            right: vw(40px);
        }
        &__subtitle {
            margin-top: vw(140px);
            margin-left: vw(4px);
            font-size: vw(16px);
        }
        &__title {
            margin-top: vw(30px);
            font-size: vw(100px);
        }
        &__description {
            width: vw(500px);
            margin-top: vw(40px);
            margin-left: vw(3px);
            font-size: vw(26px);
        }
        &__buttons {
            gap: vw(16px);
        }
    }
    
    .competence {
        padding: vw(40px);

        &__icon {
            width: vw(120px);
            height: vw(120px);
        }
        &__description {
            font-size: vw(26px);
        }
    }
    
}

@media (max-width: 700px) {
    .promoBlock {
        height: auto;
    
        padding-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 40px;
        border-bottom: none;

        position: relative;
        flex-direction: column;

        &__eye {
            display: none;
        }

        &__info {
            min-width: auto;
            height: auto;
            
            padding-top: 40px;
            padding-left: 0px;
            padding-bottom: 0px;

            position: static;
        }
        &__subtitle {
            margin-top: 0;
            font-size: 12px;
        }
        &__title {
            margin-top: 12px;
            font-size: 36px;
        }
        &__description {
            width: auto;
            margin-top: 12px;
            font-size: 16px;
            opacity: 0.8;
        }
        &__competencies {
            margin-top: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(1fr, 4);
            gap: 20px;
            
            & li {
                border: none;
            }
            & li:nth-child(n+3) {
                border: none;
            }
        }
        &__buttons {
            margin: 0;
            position: absolute;
            left: 16px;
            right: 16px;
            bottom: -60px;
            z-index: 1;
        }
        &__contactsButton {
            width: 100%;
        }
        &__portfolioButton {
            display: none;
        }
    }

    .promoBlock .promoBlock__dots {
        display: none;
    }

    .competence {
        padding: 0;
        flex-direction: row;
        justify-content: flex-start;
        gap: 12px;

        &__icon {
            flex-shrink: 0;
            width: 48px;
            height: 48px;
        }
        &__description {
            font-size: 14px;
        }
    }
}