@import "../../styles/lib.scss";

.faq {
    width: 100%;
    height: 100vh;

    display: flex;
    background-color: $RosemeryDark;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

    &__questionsBlock {
        width: 50%;
        align-self: start;
        position: relative;
        z-index: 2;
        color: $Oragon;
    }

    &__answers {
        &-desktop {
            width: 50%;
            display: flex;
            align-items: center;
            background-color: $Oragon;
        }

        &-mobile {
            display: none;
        }
    }

    &__titles {
        margin-top: vh(50px);
        margin-left: vh(68px);
        display: flex;
        align-items: center;
        position: relative;
    }

    &__smallTitle {
        position: absolute;

        font-size: vh(14px);
        font-weight: 900;
        text-transform: uppercase;

        transform: translateX(-100%) rotate(-90deg);
    }

    &__title {
        font-size: vh(72px);
        text-transform: uppercase;
    }

    &__questions {
        width: 100%;
        margin-top: vh(50px);
        display: flex;
        flex-direction: column;

        position: relative;
        z-index: 1;
    }

    &__pictureWrapper {
        width: 50%;
        position: absolute;
        z-index: 0;
        bottom: 0;
    }

    &__picture {
        width: 100%;
        height: 100%;
    }

    &__eye {
        display: none;
    }
}

@media (min-width: 700px) and (max-aspect-ratio: 18 / 10) {
    .faq {
        &__titles {
            margin-top: vw(50px);
            margin-left: vw(68px);
        }

        &__smallTitle {
            font-size: vw(14px);
        }

        &__title {
            font-size: vw(72px);
        }

        &__questions {
            margin-top: vw(50px);
        }
    }
}

@media (max-width: 700px) {
    .faq {
        height: auto;
        padding-top: vw(30px, 390px);
        position: relative;
        counter-reset: answer;

        flex-direction: column;
        align-items: center;

        &__questionsBlock {
            width: 100%;
            position: static;
        }

        &__answers {
            &-desktop {
                display: none;
            }

            &-mobile {
                width: 100%;
                margin-top: vw(20px, 390px);
                padding-left: vw(70px, 390px);
                display: flex;
                flex-direction: column;
                background-color: $RosemeryDark;

                & .answer:not(:first-child) {
                    margin-top: vw(20px, 390px);
                }
            }
        }

        &__titles {
            margin-top: 0;
            margin-left: vw(16px, 390px);
        }

        &__smallTitle {
            display: none;
        }

        &__title {
            font-size: vw(24px, 390px);
        }

        &__questions {
            display: none;
        }

        &__pictureWrapper {
            position: static;
            margin-top: vw(30px, 390px);
            width: 100%;
        }

        &__eye {
            display: block;
            position: absolute;

            right: vw(16px, 390px);
            top: vw(30px, 390px);
            width: vw(54px, 390px);
            height: vw(31px, 390px);
        }
    }
}