@import "/src/components/common/_variables.scss";

.close-button {
    width: 5.56vh;;
    height: 5.56vh;;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    border-radius: 50%;

    cursor: pointer;

    & svg {
        width: 1.85vh;
        height: auto;;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: $white;
        border-radius: 50%;
        content: "";

        transition: 0.3s cubic-bezier(.17,.67,.3,1.33);
    }
    &:hover::before {
        transform: scale(1.2);
    }
}

@media (max-width: $tablet2) {
    .close-button {
        width: 46px;
        height: 46px;
        
        & svg {
            width: 12px;
        }
        & line {
            stroke-width: 2px;
        }
    }
}