.partnership {
    width: 100%;
    display: flex;
    background-color: $Light-Gray;

    &__process, &__team {
        padding-top: vw(130px);
    }

    &__process {
        min-width: vw(1005px);
        padding-left: vh(130px);
        padding-right: vw(40px);
        padding-bottom: vw(40px);

        display: flex;
        flex-direction: column;

        & ol {
            max-width: vw(500px);
            margin-top: vw(36px);
            padding-left: vw(25px);
            display: flex;
            flex-direction: column;
            gap: vw(40px);
            font-size: vw(24px);
            list-style: decimal;
        }
        & a {
            text-decoration: underline;
        }
    }

    &__buttonAndEye {
        margin-top: auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__eye {
        width: vw(68px);
        height: vw(38px);
    }
    &__team {
        flex: 1;
        width: calc(100% - vw(1005px));

        height: 100%;
        padding-left: vw(40px);
        padding-right: vw(40px);
        padding-bottom: vw(40px);

        display: flex;
        flex-direction: column;
        align-self: flex-start;

        position: relative;

        color: $White;
        background-color: $Coal;
    }

    &__controllers {
        margin-top: vw(120px);
    }

    &__title {
        font-size: vw(48px);
        font-weight: 400;
    }

    &__employees {
        width: 100%;
        margin-top: vw(40px);
    }
}

.employees {
    &__item {
        width: vw(256px);
        display: none;
    }
    & h3 {
        max-width: 70%;
    }
}

@media (max-width: 700px) {
    .partnership {
        height: auto;
        padding-top: 72px;
        margin-top: -72px;
        flex-direction: column;
        background-color: $Coal;

        &__process {
            width: 100%;
            padding-top: 40px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 60px;

            background-color: $White;
            position: relative;

            & ol {
                max-width: none;
                margin-top: 40px;
                padding-left: 20px;
                gap: 40px;
                font-size: 16px;
            }
        }
        &__title {
            font-size: 24px;
        }
        &__buttonAndEye {
            position: absolute;
            top: 48px;
            right: 16px;

            & .button {
                display: none;
            }
            & .eye {
                width: 36px;
                height: 20px;
            }
        }
        &__team  {
            padding-top: 30px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 0px;
            width: 100%;
            height: auto;
        }
        &__controllers {
            display: none;
        }
    }
    .employees {
        &__item {
            width: 195px;
        }
        & h3 {
            max-width: none;
        }
    }
}