@import "/src/components/common/variables";
@import "/src/components/common/heroPageAnimationParameters";

.grid {
    display: grid;
    grid-template-columns: 29.17vw 1fr;
    grid-template-rows: 1fr 35.55vh;
    grid-template-areas: "mainInfo mainInfo"
                         "picture sliderInfo";

    background-color: $teal-light;
    height: 100%;
}
.grid__item:nth-child(1) {
    padding-top: 3.7vh;
    padding-left: 3.7vh;

    grid-area: mainInfo;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.grid__item:nth-child(2) {
    position: relative;
    grid-area: picture;

    overflow: hidden;
}
.grid__item:nth-child(3) {
    grid-area: sliderInfo;
    
    padding-right: 8.4vh;
    padding-bottom: 7.22vh;
    padding-left: 8.8vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo {
    opacity: 0;
    transform: translateY(100%);

    animation: logo $logo-duration $logo-timing-function $logo-delay forwards;
}
@keyframes logo {
    100% {
        opacity: 1;
        transform: translateY(0)    
    }
}
.title {
    margin-top: 12.31vh;

    font-size: 6.11vh;
    line-height: 1.2;
    text-transform: uppercase;
    color: $white;
}
.title__outer {
    overflow: hidden;
    display: block;
}
.title__inner {
    display: block;
    transform: translateY(100%);
    animation: title $title-duration $title-timing-function forwards; 
}
.title__outer:nth-child(1) .title__inner {
    animation-delay: $title-first-delay;
}
.title__outer:nth-child(2) .title__inner {
    animation-delay: $title-second-delay;
}
@keyframes title {
    100% {
        transform: translateY(0);
    }
}
.tooltip {
    margin-top: 0.97vh;
    opacity: 0;
    transform: translateY(-50%);
    animation: tooltip $tooltip-duration $tooltip-timing-function $tooltip-delay forwards;
}
@keyframes tooltip {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.contactButtonWrapper {
    margin-top: 5.87vh;
    overflow: hidden;
    padding-bottom: 1px;
}
.contactButton {
    transform: translateY(110%);
    animation: contactButton $contactButton-duration $contactButton-timing-function $contactButton-delay forwards;
}
@keyframes contactButton {
    100% {
        transform: translateY(0);
    }
}
.picture {
    width: calc(100% - 5.05vw);
    height: 100%;
}
.picture__text {
    position: absolute;
    bottom: 3.42vh;
    right: 0;

    transform: rotate(-90deg) translateX(50%);
    transform-origin: 100% 100%;

    color: $white;
    font-size: 1.56vh;
    font-weight: 400;
    line-height: 1.4;

    opacity: 0;
    animation: pictureText $pictureText-duration $pictureText-timing-function $pictureText-delay forwards;
}
@keyframes pictureText {
    100% {
        opacity: 1;
        transform: rotate(-90deg) translateX(100%);
    }
}

.sliderInfo {
    opacity: 0;
    transform: translateY(100%);

    animation: sliderInfo $sliderInfo-duration $sliderInfo-timing-function $sliderInfo-delay forwards;
}
@keyframes sliderInfo {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.sliderInfo__number {
    font-size: 1.17vh;
    font-weight: 400;
    color: $orange;
}
.sliderInfo__text {
    margin-top: 2.44vh;

    font-size: 1.95vh;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
}
.circles {
    align-self: flex-end;
    width: 15.62vh;
    height: 12.7vh;

    opacity: 0;
    animation: circles $circles-duration $circles-timing-function $circles-delay forwards;
}
@keyframes circles {
    100% {
        opacity: 1;
    }    
}
@include media-tablet-or-narrowScreen {
    .grid {
        grid-template-columns: 1fr 35.94vw;
        grid-template-rows: auto;
        grid-template-areas: "mainInfo picture"
                             "sliderInfo picture";   
    }
    .grid__item:nth-child(1) {
        margin-bottom: 4.47vw;
        padding-top: 3.13vw;
        padding-left: 1.56vw;
        padding-right: 3.13vw;
    }
    .grid__item:nth-child(3) {
        padding-right: 3.13vw;
        padding-bottom: 3.13vw;
        padding-left: 1.56vw;

        flex-direction: row;
        align-items: flex-end;
    }
    .title {
        margin-top: 8.28vw;
        font-size: 5.63vw;
    }
    .tooltip {
        margin-top: 1.56vw;
    }
    .contactButtonWrapper {
        margin-top: 4.69vw;
    }
    .picture {
        width: 100%;
        height: 100%;
    }
    .picture__text {
        display: none;
    }
    .sliderInfo__number {
        font-size: 1.88vw;
    }
    .sliderInfo__text {
        margin-top: 2.66vw;
        font-size: 2.5vw;
    }
    .circles {
        width: 10.16vw;
        height: auto;
    }
}

@media (max-width: $mobile) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: "mainInfo"
                             "picture"
                             "sliderInfo";   
    }
    .grid__item:nth-child(1) {
        margin-bottom: 12.5vw;
        padding: 6.69vw 3.13vw 0;
    }
    .grid__item:nth-child(2) {
        margin-bottom: 9.38vw;
    }
    .grid__item:nth-child(3) {
        padding-right: 3.13vw;
        padding-bottom: 20px;
        padding-left: 3.13vw;   
    }
    .title {
        margin-top: 10.63vw;
        font-size: 8.75vw;
    }
    .contactButtonWrapper {
        margin-top: 11.5vw
    }
    .picture {
        width: 68.75vw;
        height: 90.6vw
    }
    .picture__text {
        bottom: 0;
        right: 3.13vw;
        display: block;
        font-size: 3.13vw;
    }
    .sliderInfo__number {
        font-size: 2.5vw;
    }
    .sliderInfo__text {
        margin-top: 3.75vw;
        font-size: 3.13vw;
    }
    .circles {
        width: 17.19vw;
    }
}