@import "../../styles/lib.scss";

.portfolio {
    width: 100%;
    height: 100vh;

    display: flex;
    background-color: $Oragon;
    position: relative;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    ::selection {
        background-color: $RosemeryDark;
        color: $Oragon;
    }

    &__info {
        width: 50%;
        padding-top: vh(25px);
        padding-left: vh(30px);
        color: $RosemeryDark;
        background-color: $Oragon;
    }

    &__smallTitle {
        font-size: vh(14px);
        font-weight: 700;
        text-transform: uppercase;
    }

    &__title {
        font-weight: 700;
        font-size: vh(120px);
        text-transform: uppercase;
        position: absolute;
        -webkit-text-stroke: vh(2px) $RosemeryDark;
        color: $Oragon;

        transform-origin: 0 0;
        transform: rotate(90deg) translateY(-75%);
    }

    &__mobile {
        display: none;
    }

    &__line {
        width: vw(540px);
        height: vh(130px);
        top: vh(120px);
        right: 46%;
        position: absolute;
        transform-origin: 100% 0;
        transform: rotate(-17deg);
        background-color: $Gandalf;
    }

    &__counter {
        display: flex;
        align-items: baseline;
        position: absolute;
        bottom: 0;
        left: vh(20px);
        font-weight: 700;
    }

    &__currentNumber {
        display: block;
        font-size: vh(118px);
        width: vh(150px);
    }

    &__countNumber {
        margin-left: vh(30px);
        font-size: vh(52px);
        color: $Gandalf;
    }

    &__photoSection {
        width: 50%;
    }

    &__photoWrapper {
        width: 100%;
        height: calc(100% - vh(120px));
        position: relative;
        z-index: 1;
        background-color: $RosemeryDark;
    }

    &__photo {
        width: 100%;
        height: 100%;
    }

    &__type {
        margin-left: vh(140px);
        position: absolute;
        bottom: vh(80px);

        font-size: vh(26px);
        color: $Milk;
        text-transform: uppercase;
    }

    &__eye {
        position: absolute;
        z-index: 0;

        right: vh(35px);
        bottom: vh(35px);

        width: vh(235px);
        height: vh(130px);
    }

    &__controllers {
        position: absolute;
        z-index: 2;
        left: calc(50% + 0.5px);
        bottom: vh(80px);
        transform: translateX(-50%);
    }
}

@media (min-width: 700px) and (max-aspect-ratio: 18 / 10) {
    .portfolio {
        &__info {
            padding-top: vw(25px);
            padding-left: vw(30px);
        }

        &__smallTitle {
            font-size: vw(14px);
        }

        &__title {
            font-size: vw(120px);
            -webkit-text-stroke: vw(2px) $RosemeryDark;
        }

        &__line {
            width: vw(540px);
            height: vw(130px);
            top: vw(120px);
        }

        &__counter {
            left: vw(20px);
        }

        &__currentNumber {
            font-size: vw(118px);
            width: vw(150px);
        }

        &__countNumber {
            margin-left: vw(30px);
            font-size: vw(52px);
        }

        &__photoWrapper {
            height: calc(100% - vw(120px));
        }

        &__type {
            margin-left: vw(140px);
            bottom: vw(80px);
            font-size: vw(26px);
        }

        &__eye {
            right: vw(35px);
            bottom: vw(35px);
            width: vw(235px);
            height: vw(130px);
        }

        &__controllers {
            bottom: vw(80px);
        }
    }

}

@media (max-width: 700px) {
    .portfolio {
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $RosemeryDark;

        &__info {
            width: 100%;
            padding-top: vw(30px, 390px);
            padding-left: 0;
        }

        &__smallTitle {
            display: none;
        }

        &__title {
            position: static;
            font-size: vw(24px, 390px);
            padding-left: vw(16px, 390px);
            color: $RosemeryDark;
            -webkit-text-stroke: 0px;
            transform: none;
        }

        &__desktop {
            display: none;
        }

        &__mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__line {
            display: none;
        }

        &__counter {
            display: none;
        }

        &__photoSection {
            display: none;
            width: 100%;
        }

        &__photoWrapper {
            height: auto;
        }

        &__type {
            display: none;
        }

        &__eye {
            right: vw(16px, 390px);
            top: vw(30px, 390px);
            width: vw(54px, 390px);
            height: vw(31px, 390px);

            path {
                stroke-width: 1px;
            }
        }

        & .portfolio__controllers {
            display: none;
        }
    }
}