@import "/src/components/common/variables";

.logo {
    width: 11.3vh;
    height: auto;
}
@include media-tablet-or-narrowScreen {
    .logo {
        width: 11.72vw;
    }
}
@media (max-width: $mobile) {
    .logo {
        width: 18.75vw;
    }
}