@import "../../../styles/lib.scss";

.storeLinks {
    display: flex;

    & li:not(:first-child) {
        margin-left: vh(20px);
    }
}

.storeLink {
    height: vh(58px);
    padding: vh(14px) vh(20px);

    display: flex;
    align-items: center;
    gap: vh(12px);

    font-size: vh(18px);
    font-weight: 700;
    color: $Coal;
    
    background-color: $Gray;
    overflow: hidden;

    &-ios img {
        width: vh(24px);
        height: vh(30px);
    }
    &-android img {
        width: vh(27px);
        height: vh(30px);
    }
    &:hover {
        background-color: #d3d3d3;
    }
}

@media (min-width: 701px) and (max-aspect-ratio: 37 / 20) {
    .storeLinks li:not(:first-child) {
        margin-left: vw(20px);
    }

    .storeLink {
        height: vw(58px);
        padding: wh(14px) vw(20px);
        gap: vw(12px);
        font-size: vw(18px);

        &-ios img {
            width: vw(24px);
            height: vw(30px);
        }
        &-android img {
            width: vw(27px);
            height: vw(30px);
        }
    }
}

@media (max-width: 700px) {
    .storeLinks li:not(:first-child) {
        margin-left: 12px;
    }   
    .storeLink {
        height: 38px;
        padding: 2px 16px 0px;
    
        display: flex;
        align-items: center;
        gap: 8px;
    
        font-size: 12px;
        font-weight: 700;
        color: $Coal;
        
        background-color: $Gray;
        overflow: hidden;
    
        &-ios img {
            width: 14px;
            height: 17px;
            margin-top: -2px;
        }
        &-android img {
            width: 14px;
            height: 16px;
        }
    }
}