@import "../../../styles/lib.scss";

.storeLinks {
    display: flex;

    & li:not(:first-child) {
        margin-left: vw(20px);
    }
}

.storeLink {
    height: vw(58px);
    padding: vw(14px) vw(20px);

    display: flex;
    align-items: center;
    gap: vw(12px);

    font-size: vw(18px);
    font-weight: 700;
    color: $Coal;
    
    background-color: $Gray;
    border: 1px solid $Gray;
    overflow: hidden;

    &-ios img {
        width: vw(24px);
        height: vw(30px);
    }
    &-android img {
        width: vw(27px);
        height: vw(30px);
    }
    &:hover {
        background-color: #d3d3d3;
    }
    &:focus-visible {
        outline-offset: 5px;
        border-color: $Coal;
        outline: 1px solid $White;
    }
}

@media (max-width: 700px) {
    .storeLinks li:not(:first-child) {
        margin-left: 12px;
    }   
    .storeLink {
        height: 38px;
        padding: 2px 16px 0px;
    
        display: flex;
        align-items: center;
        gap: 8px;
    
        font-size: 12px;
        font-weight: 700;
        color: $Coal;
        
        background-color: $Gray;
        overflow: hidden;
    
        &-ios img {
            width: 14px;
            height: 17px;
            margin-top: -2px;
        }
        &-android img {
            width: 14px;
            height: 16px;
        }
    }
}