@import "lib";
@import "./fonts.scss";
@import "./normalize.scss";

body {
    position: relative;

    font-family: "Uni", Arial, Helvetica, sans-serif;
    line-height: 1.4;

    color: $Coal;
    background-color: $Light-Gray;
}

button {
    font-family: "Uni", Arial, Helvetica, sans-serif;
}

input,
textarea {
    font-family: "Uni", Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.4;
}

::selection {
    color: $Yellow;
    background-color: $Coal
}

.hidden {
    overflow: hidden;
}