@font-face {
    font-family: "Uni";
    font-weight: 400;
    src: url("../fonts/UniNeueRegular.woff2") format("woff2");
}

@font-face {
    font-family: "Uni";
    font-weight: 700;
    src: url("../fonts/UniNeueBold.woff2") format("woff2");
}

@font-face {
    font-family: "Uni";
    font-weight: 900;
    src: url("../fonts/UniNeueHeavy.woff2") format("woff2");
}