@import "../../../styles/lib.scss";

.spinner {
    width: vh(320px);
    height: vh(160px);   
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 10s rotate360 linear infinite;
    
    position: relative;
    
    &__rectangle {
        width: vh(113px);
        height: vh(113px);
        
        position: absolute;
        z-index: 1;
        transform: rotate(45deg);
        background-color: $Oragon;

        &-1 {
            left: vh(23px);
        }
        &-2 {
            right: vh(23px);
        }       
    }
    &__circle {
        width: vh(75px);
        height: vh(75px);
        border: vh(2px) solid $Oragon;
        border-radius: 50%;
    }
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 700px) and (max-aspect-ratio: 18 / 10) {
    .spinner {
        width: vw(320px);
        height: vw(160px);   

        &__rectangle {
            width: vw(113px);
            height: vw(113px);
            &-1 {
                left: vw(23px);
            }
            &-2 {
                right: vw(23px);
            }
        }
        &__circle {
            width: vw(75px);
            height: vw(75px);
            border: vw(2px) solid $Oragon;
        }
    }
}