@import "../../../styles/lib.scss";

.answer {
    &-desktop {
        display: none;
        flex-direction: column;
        padding-left: vh(95px);
        color: $RosemeryDark;
        & .answer__title {
            font-size: vh(26px);
            font-weight: 400;
            text-transform: uppercase;    
            &::selection {
                background-color: $RosemeryDark;
                color: $Oragon;
            }
            &-mobile {
                display: none;
            }
        }
        & .answer__description {
            margin-top: vh(30px);
            padding: vh(24px);
            border: 1px solid $RosemeryDark;
            border-right: none;
            font-size: vh(24px);

            & span:not(:first-child) {
                display: block;
                margin-top: vh(12px);
            }
            ::selection {
                background-color: $RosemeryDark;
                color: $Oragon;
            }   
        }
        & .answer__link {
            text-decoration: underline;
            font-weight: 700;
            &:hover {
                color: $Rosemery;
            }
        }
        & .answer__attributes {
            margin-top: vh(30px);

            display: flex;
            flex-direction: column;

            & li {
                border: 1px solid $RosemeryDark;
                border-right: none;

                &:not(:first-child) {
                    margin-top: vh(20px);
                }
            }
        }
        & .answer__attributeTitle { 
            padding: vh(20px);
            
            font-size: vh(22px);
            font-weight: 700;
            text-transform: uppercase;
            color: $Oragon;
            background-color: $RosemeryDark;
        }
        & .answer__attributeDescription {
            padding: vh(18px) vh(24px);
            font-size: vh(42px);
            font-weight: 400;
            line-height: 1.4;
            
            &::selection {
                background-color: $RosemeryDark;
                color: $Oragon;
            }
        }
    }
    &-active {
        display: flex;
    }
}

@media (min-width: 700px) and (max-aspect-ratio: 18 / 10) {
    .answer {
        &-dekstop {
            padding-left: vw(95px);
            &__title {
                font-size: vw(26px);
            }
            &__description {
                margin-top: vw(30px);
                padding: vw(24px);
                font-size: vw(24px);
        
                & span:not(:first-child) {
                    margin-top: vw(12px);
                }
            }
            &__attributes {
                margin-top: vw(30px);
                & li:not(:first-child) {
                    margin-top: vw(20px);
                }
            }
            &__attributeTitle { 
                padding: vw(20px);
                font-size: vw(22px);
            }
            &__attributeDescription {
                padding: vw(18px) vw(24px);
                font-size: vw(42px);
            }
        }
    }   
}

@media (max-width: 700px) {
    .answer {
        width: 100%;
        padding-bottom: vw(16px, 390px);
        border-top: 1px solid $Oragon;
        border-bottom: 1px solid $Oragon;
        border-left: 1px solid $Oragon;

        display: flex;
        flex-direction: column;
        position: relative;
        color: $Oragon;

        &__title {
            width: 100%;
            margin-bottom: vw(16px, 390px);
            padding: vw(10px, 390px) vw(16px, 390px);
            font-size: vw(20px, 390px);
            font-weight: 700;
            text-transform: uppercase;
            color: $RosemeryDark;
            background-color: $Oragon;
        }
        &__subtitle {
            padding: 0 vw(16px, 390px);
            font-size: vw(16px, 390px);
            font-weight: 400;

            &::selection {
                background-color: $Oragon;
                color: $RosemeryDark;
            }
        }
        &__description {
            font-size: vw(15px, 390px);
            padding: 0 vw(16px, 390px);
            
            & span:not(:first-child) {
                display: block;
                margin-top: vw(12px, 390px);
            }
            ::selection {
                background-color: $Oragon;
                color: $RosemeryDark;
            }
        }
        &__link {
            text-decoration: underline;
            font-weight: 700;
            &:hover {
                color: $Milk;
            }
        }
        &__attributes {
            margin-top: vw(12px, 390px);
            margin-left: vw(16px, 390px);
            margin-right: vw(12px, 390px);
            margin-bottom: vw(12px, 390px);
            padding-left: vw(20px, 390px);
            list-style: disc;

            & li:not(:first-child) {
                margin-top: vw(4px, 390px);
            }
        }
        &__attributeTitle {
            margin-left: 0;
            padding: 0;
            display: inline;
            font-size: vw(15px, 390px);
            font-weight: 400;
        }
        &__attributeDescription {
            padding: 0;
            display: inline;
            font-size: vw(15px, 390px);
            font-weight: 400;

            &::selection {
                background-color: $Oragon;
                color: $RosemeryDark;
            }
        }
        &::before {
            counter-increment: answer;
            content: "0" counter(answer);
            font-size: vw(32px, 390px);
            font-weight: 700;
            position: absolute;
            top: vw(2px, 390px);
            transform: translateX(-100%);
            left: vw(-20px, 390px);
        }
    }
}