@import "../../../styles/lib.scss";

.tags {
    display: flex;

    & .tag:not(:first-child) {
        margin-left: vh(10px);
    }
}

.tag {
    border-radius: vh(46px);
    padding: vh(4px) vh(12px);
    font-size: vh(16px);
    font-weight: 700;
    color: $RosemeryDark;
    background-color: $Milk;
}

@media (min-width: 700px) and (max-aspect-ratio: 18 / 10) {
    .tags .tag:not(:first-child) {
        margin-left: vw(10px);
    }
    .tag {
        border-radius: vw(46px);
        padding: vw(4px) vw(12px);
        font-size: vw(16px);
    }    
}

@media (max-width: 700px) {
    .tags .tag:not(:first-child) {
        margin-left: vw(10px, 390px);
    }
    .tag {
        border-radius: vw(46px, 390px);
        padding: vw(4px, 390px) vw(12px, 390px);
        font-size: vw(13px, 390px);
    }
}