@import "/src/components/common/_variables.scss";
@import "/src/components/common/_contactsAnimationParameters.scss";

// Contacts
.contacts {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
    visibility: visible;
    pointer-events: all;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100%;
    
    color: $white;
    text-transform: uppercase;
    text-align: center;

    &::before, &::after {
        position: absolute;
        z-index: -2;
        top: 0;
        
        width: 50%;
        min-height: 100%;

        background-color: $teal;
        content: "";

        transition: transform $background-duration $background-timing-function $background-delay;
    }
    &::before {
        left: 0%;
        transform-origin: right center;
    }
    &::after {
        left: 50%;
        transform-origin: left center;
    }
}

.contactsHidden {
    // display: none;
    // visibility: hidden;
    pointer-events: none;

    &::before, &::after {
        transform: scaleX(0);
        transition-delay: 0.6s;
    }
}
.contacts__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;

    width: 100%;
    padding-top: calc(30px * 2 + $closeButtonSize);
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


// Content
.content {
    width: calc(100% - 200px);
    min-width: 950px;
    padding: 50px 0;
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: border-color $borders-duration $borders-timing-function $borders-delay;
}
.contactsHidden .content{
    border-color: transparent;
}

// Title
.title {
    max-width: 700px;

    display: flex;
    flex-direction: column;

    font-size: 66px;
}
.title__outer {
    overflow: hidden;
    display: block;
}
.title__inner {
    display: block;
    transition: transform $title-duration $title-timing-function; 
}
.title__outer:nth-child(1) .title__inner {
    transition-delay: $title-first-delay;
}
.title__outer:nth-child(2) .title__inner {
    transition-delay: $title-second-delay;
}
.contactsHidden .title__inner {
    transform: translateY(100%);
}


// Subtitle
.subtitle {
    margin-top: 25px;

    font-size: 24px;
    font-weight: 400;   
    color: $orange;
}
.subtitle__inner {
    display: block;
    transition: transform $subtitle-duration $subtitle-timing-function $subtitle-delay, 
                opacity $subtitle-duration $subtitle-timing-function $subtitle-delay;

}
.contactsHidden .subtitle__inner {
    transform: translateY(100%);
    opacity: 0;
}

// Form
.form {
    max-width: 900px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.inputWrapper {
    overflow: hidden;
    padding-top: 10px;
    flex: 30%;
}
.input {
    transition: transform $input-duration $input-timing-function $input-delay;
}
.contactsHidden .input{
    transform: translateY(120%);
}
.inputMessageWrapper {
    overflow: hidden;

    height: 155px;
    margin-top: -5px; // костыль?
    padding-top: 10px;

    flex: 1 100%;

    & .input {
        transition-delay: transform $message-delay;
    }
    & div { // похоже на костыль
        height: 100%;
    }
}
.submitButtonWrapper {
    overflow: hidden;
    margin-top: 20px;

    & .input {
        transition-delay: transform $submit-button-delay;
    }
}

// Social Media
.social-media {
    margin-top: 45px;
    display: flex;
    gap: 90px;
}
.socialMediaLink {
    transform: scale(1);
    transition: $social-media-link-duration $social-media-link-timing-function $social-media-link-delay;
}
.contactsHidden .socialMediaLink {
    transform: scale(0);
}

// Close button
.closeButton {
    position: fixed;
    top: 30px;
    z-index: 1;

    transition: transform $close-button-duration $close-button-timing-function $close-button-delay;
}
.contactsHidden .closeButton {
    transform: translateY(-200px);
}


// Media queries
@media (max-width: $tablet2) {
    // костыль, чтобы обновить переменную $closeButtonSize; 
    // Можно решить, добавив новую переменную closeButtonSizeTablet, но тоже похоже на костыль; 
    // В общем, это проблема scss компилятора, он не обновляет переменную везде, если я сменил её в медиа-запросе.
    @import "/src/components/common/_variables.scss"; 

    .contacts__wrapper {
        padding-top: calc(30px * 2 + $closeButtonSize);
        padding-bottom: 30px;
    }
    .content {
        width: calc(100% - 80px);
        min-width: auto; 
    }
    .title {
        max-width: 700px;
        font-size: 36px;
    }
    .form {
        max-width: calc(100% - 60px);
        margin-top: 20px;
        gap: 20px;
    }
    .inputMessageWrapper {
        height: 105px;
    }
    .submitButtonWrapper {
        margin-top: 5px;
    }
    .social-media {
        margin-top: 30px;
        gap: 65px;
    }
}
@media (max-width: $tablet) {
    .content {
        width: calc(100% - 20px);    
        padding-bottom: 75px;
    }
    .form {
        gap: 15px;
    }  
    .inputMessageWrapper {
        height: 230px;
    }
}
@media (max-width: $mobile) {
    // такой же костыль, как выше
    @import "/src/components/common/contactsAnimationParameters.scss"; 

    .contacts {
        padding-bottom: 50px;
    }
    .content {
        padding-bottom: 50px;
    }
    .title {
        font-size: 28px;
    }
    .subtitle {
        font-size: 20px;
    }
    .form {
        gap: 20px;

        & .inputWrapper:nth-child(2) .input {
            transition-delay: $input-second-delay;
        }
        & .inputWrapper:nth-child(3) .input {
            transition-delay: $input-third-delay;
        }
    }
    .inputWrapper {
        flex: 100%;
    }
    .inputMessageWrapper {
        margin-top: -10px; // костыль?

        & .input {
            transition-delay: $message-delay;
        }
    }
    .social-media {
        width: 250px;
        margin-top: 50px;

        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
}