@import "../../../styles/lib.scss";

.reason {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__icon {
        width: vh(50px);
        height: vh(50px);

        flex-shrink: 0;
    }
    &__title {
        margin-left: vh(16px);

        font-size: vh(26px);
        font-weight: 400;

        & sup {
            margin-left: vh(7px);
            font-size: vh(16px);
        }
    }
    &__text {
        margin-top: vh(22px);
        flex: 100%;
        font-size: vh(18px);
        line-height: 1.6;
    }
}


@media (min-width: 701px) and (max-aspect-ratio: 37 / 20) {
    .reason {
        &__icon {
            width: vw(50px);
            height: vw(50px);
        }
        &__title {
            margin-left: vw(16px);
            font-size: vw(26px);
            & sup {
                margin-left: vw(7px);
                font-size: vw(16px);
            }
        }
        &__text {
            margin-top: vw(22px);
            font-size: vw(18px);
        }
    }
    
}

@media (max-width: 700px) {
    .reason {
        max-height: 72px;
        padding-top: 20px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
        border-top: 1px solid #454B53;
        
        overflow: hidden;
        cursor: pointer;

        transition: 0.4s linear;
        
        &__icon {
            width: 32px;
            height: 32px;
        }
        &__title {
            margin-left: 12px;
            font-size: 18px;

            & sup {
                display: none;
            }
        }
        &__text {
            margin-top: 20px;
            font-size: 14px;
        }

        &:last-child {
            border-bottom: 1px solid #454B53;
        }

        &-active {
            max-height: 200px;
            transition: 0.2s linear;
        }
    }
}