@import "/src/components/common/variables";
@import "/src/components/common/heroPageAnimationParameters";

.heroPage {
    display: flex;
    min-height: 100%;
}
.dots {
    position: fixed;
    top: 1.3vw;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    width: 3.65vw;
    height: 2.08vw;

    opacity: 0;
    animation: dots $dots-duration $dots-timing-function $dots-delay forwards;
}
@keyframes dots {
    100% {
        opacity: 1;
    }
}
.heroPageInfo {
    width: 50%;
}
.heroPageSlider {
    width: 50%;
    background-color: $grey;
}

@media (max-width: $tablet) {
    .heroPage {
        flex-direction: column;
    }
    .dots {
        display: none;
    }
    .heroPageInfo {
        width: 100%;
    }
    .heroPageSlider {
        width: 100%;
    }
}