@import "../../styles/lib.scss";

.whyUs {
    width: 100%;
    padding: vw(130px) vw(40px) vw(40px) vh(130px);

    display: flex;
    flex-direction: column;

    color: $White;
    background-color: $Coal;

    &__title {
        font-size: vw(48px);
        font-weight: 400;
    }

    &__reasons {
        margin-top: vw(85px);

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: vw(80px);

        & .reason {
            flex: 30%;
        }
    }
    &__footer {
        margin-top: vw(120px);

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__eye {
        width: vw(68px);
        height: vw(38px);
    }
}

@media (max-width: 700px) {
    .whyUs {
        height: auto;
        padding: 102px 0px 30px;
        margin-top: -72px;

        &__title {
            margin-left: 16px;
            font-size: 24px;
        }
        &__reasons {
            margin-top: 20px;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: nowrap;
            gap: 0px;

            & .reason {
                flex: none;
            }
        }
        &__footer {
            margin-top: 32px;
            padding-left: 16px;
            padding-right: 16px;

            & .button {
                width: 100%;
            }
        }
        &__eye {
            display: none;
        }
    }
}