@import "../../../styles/lib.scss";

.employee {
    width: vw(256px);
    display: flex;
    flex-direction: column;

    &__photo {
        width: 100%;
        height: auto;
    }

    &__role {
        margin-top: vw(30px);
        font-size: vw(20px);
    }

    &__name {
        margin-top: vw(14px);
        font-size: vw(32px);
        font-weight: 400;

        & span {
            display: block;
        }
    }
}

@media (max-width: 700px) {
    .employee {
        width: 195px;

        &__photo {
            height: 195px;
        }

        &__role {
            margin-top: 20px;
            font-size: 14px;
        }

        &__name {
            margin-top: 6px;
            font-size: 18px;

            & span {
                display: inline;
            }
        }
    }
}