@import "/src/components/common/variables";

.contactButton {
    position: relative;
    overflow: hidden;

    padding: 2.3vh 5.86vh;
    border: 1px solid $orange;

    display: flex;
    align-items: center;

    background-color: transparent;
    cursor: pointer;

    transition: border-color 0.3s 0s $timing-function;

    & .contactButton__text {
        display: block;
        color: $orange;
        font-size: 1.95vh;
        text-transform: uppercase;

        transition: transform 0.3s 0s $timing-function, color 0.3s 0s $timing-function;
    }
    & .contactButton__arrow {
        position: absolute;
        right: 3.76vh;
        
        width: 1.11vh;
        height: auto;
        opacity:0;
        
        transform: translate(-100%);
        transition: opacity 0.3s 0s $timing-function, transform 0.3s 0s $timing-function;
    }
    & .contactButton__arrow path{
        transition: stroke 0.3s 0s $timing-function;
    }

    &:hover .contactButton__text {
        transform: translateX(-2.1vh);
    }
    &:hover .contactButton__arrow {
        opacity: 1;
        transform: translateX(0%);
    }

    &:active {
        border-color: $white;
    }
    &:active .contactButton__text {
        color: $white;
    }
    &:active .contactButton__arrow path{
        stroke: $white;
    }
}

@include media-tablet-or-narrowScreen {
    .contactButton {
        padding: 2.5vw 5.94vw;
        
        & .contactButton__text {
            font-size: 2.81vw;
        }   
        & .contactButton__arrow {
            right: 3.81vw;
            width: 1.4vw;
        }

        &:hover .contactButton__text {
            transform: translateX(-2.13vw);
        }
    }
}
@media (max-width: $mobile) {
    .contactButton {
        padding: 4.06vw 9.06vw;
        
        & .contactButton__text {
            font-size: 4.38vw;
        }   
        & .contactButton__arrow {
            right: 5.36vw;
            width: 2.19vw;
        }

        &:hover .contactButton__text {
            transform: translateX(-3.7vw);
        }
    }
}