@import "/src/components/common/_variables.scss";

.hint {
    position: relative;

    max-width: 29.79vw;
    padding-top: 1.04vw;

    & .hint__triangle {
        position: absolute;
        top: 0;
        left: 1.66vw;
        width: 1.66vw;
        height: 1.66vw;
    }
    & .hint__text {
        width: 100%;
        padding: 0.78vw 1.56vw;

        border-radius: 0.57vw;
        
        color: $teal;
        background-color: $orange;

        font-size: 1.04vw;
        line-height: 1.3;
    }
}

@media (max-width: $tablet) {
    .hint {
        max-width: 335px;
        padding-top: 10px;

        & .hint__triangle {
            left: 16px;
            width: 16px;
            height: 16px;
        }
        & .hint__text {
            padding: 8px 15px;
            border-radius: 6px;
            font-size: 12px;
        }

    }   
}

@media (max-width: $mobile) {
    .hint {
        max-width: 87.5vw;
        padding-top: 2.5vw;

        & .hint__triangle {
            width: 4.06vw;
            height: 4.06vw;
            left: 4.06vw;
        }
        & .hint__text {
            padding: 1.88vw 4.06vw;
            border-radius: 1.85vw;
            font-size: 3.12vw;
        }
    }   
}