@import "/src/components/common/_variables.scss";

.hint {
    position: relative;

    max-width: 52.3vh;
    padding-top: 1.85vh;

    & .hint__triangle {
        position: absolute;
        top: 0;
        left: 2.96vh;
        width: 2.96vh;
        height: 2.96vh;
    }
    & .hint__text {
        width: 100%;
        padding: 1.39vh 2.78vh;

        border-radius: 1.02vh;
        
        color: $teal;
        background-color: $orange;

        font-size: 1.85vh;
        line-height: 1.3;
    }
}

@include media-tablet-or-narrowScreen {
    .hint {
        max-width: 52.34vw;
        padding-top: 1.56vw;

        & .hint__triangle {
            left: 2.5vw;
            width: 2.5vw;
            height: 2.5vw;
        }
        & .hint__text {
            padding: 1.25vw 2.34vw;
            border-radius: 0.94vw;
            font-size: 1.88vw;
        }

    }   
}

@media (max-width: $mobile) {
    .hint {
        max-width: 90vw;
        padding-top: 2.5vw;

        & .hint__triangle {
            width: 4.06vw;
            height: 4.06vw;
            left: 4.06vw;
        }
        & .hint__text {
            padding: 1.88vw 4vw;
            border-radius: 1.85vw;
            font-size: 3vw;
        }
    }   
}