.contactsAndFooter {
    width: 100%;
    padding-left: vh(90px);

    display: flex;
    flex-direction: column;

    color: $White;
    background-color: $Coal;
}

.contacts {
    flex: 1;
    display: flex;
    
    &__content {
        width: vw(915px);
        
        padding-top: vw(130px);
        padding-right: vw(40px);
        padding-left: vh(40px);
        padding-bottom: vw(160px);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        font-size: vw(48px);
        font-weight: 400;
    }

    &__description {
        width: vw(500px);
        margin-top: vw(20px);
        font-size: vw(24px);
    }

    &__form {
        margin-top: vw(40px);
    }

    &__benefits {
        flex: 1;
        margin-top: vw(90px);
    }
}

.benefits {
    overflow: hidden;
    position: relative;

    &::before, &::after {
        content: "";
        width: 1px;

        position: absolute;
        right: calc(vw(430px) + vh(20px));
        background-color: $Yellow;
        opacity: 0.8;
    }

    &::before {
        top: vw(50px);
        height: vw(240px);
    }

    &::after {
        top: vw(455px);
        height: vw(260px);
    }

    & .benefits__logo {
        width: vw(210px);
        height: vw(70px);

        position: absolute;
        top: vw(333px);
        right: vw(430px);

        overflow: visible;
    }

    &__line {
        width: vw(340px);
        height: 1px;

        position: absolute;
        top: vw(365px);
        right: vw(46px);

        background-color: $Yellow;
        opacity: 0.8;
    }

    &__text {
        width: max-content;
        position: absolute;
        font-size: vw(24px);
        opacity: 0.5;

        &-conversion {
            top: vw(198px);
            right: vw(615px);

            &::before {
                width: vw(320px);
                bottom: vw(-12px);
                right: vw(-47px);
            }
            &::after {
                height: vw(217px);
                right: vw(-12px);
                bottom: vw(-47px);
            }
        }
        &-analysis {
            top: vw(260px);
            right: vw(124px);

            &::before {
                width: vw(310px);
                bottom: vw(-12px);
                right: vw(-45px);
            }
            &::after {
                height: vw(360px);
                left: vw(-12px);
                bottom: vw(-210px);
            }
        }
        &-lead {
            top: vw(467px);
            right: vw(615px);
            
            &::before {
                width: vw(275px);
                bottom: vw(-12px);
                right: vw(-62px);
            }
            &::after {
                height: vw(217px);
                right: vw(-12px);
                top: vw(-10px);
            }
        }
        &-terms {
            top: vw(580px);
            right: vw(195px);

            &::before {
                width: vw(260px);
                bottom: vw(-12px);
                right: vw(-40px);
            }
            &::after {
                height: vw(217px);
                right: vw(-12px);
                bottom: vw(-40px);
            }
        }

        &::before, &::after {
            content: "";
            position: absolute;
            background-color: #4D4D4E;
        }

        &::before {
            height: 2px;
        }
        &::after {
            width: 2px;
        }
    }
}

@media (max-width: 700px) {
    .contactsAndFooter {
        height: auto;
        margin-top: -72px;
        padding-top: 102px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .contacts {
        flex-direction: column;

        &__content {
            width: 100%;
            padding-top: 0px;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 40px;
        }
        &__title {
            font-size: 24px;
        }
        &__description {
            width: 100%;
            margin-top: 16px;
            font-size: 16px;
        }
        &__form {
            margin-top: 20px;
        }
        &__benefits {
            order: -1;
            display: none;
        }
    }
}