@import "../../styles/lib.scss";

.contactsAndFooter {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.contacts {
    flex: 1;
    display: flex;
    color: $Oragon;

    &__titleSection {
        width: 50%;
        padding-top: vh(130px);
        padding-left: vh(68px);

        font-weight: 900;
        color: $RosemeryDark;
        background-color: $Oragon;
    }

    &__smallTitle {
        margin-left: vh(10px);
        margin-bottom: vh(10px);
        font-size: vh(14px);
        font-weight: 900;
        text-transform: uppercase;
    }

    &__title {
        font-size: vh(144px);
        font-weight: 900;
        line-height: 0.9;
        text-transform: uppercase;

        &-2 {
            color: transparent;
            font-size: vh(144px);
            -webkit-text-stroke: vh(4px) $RosemeryDark;
        }

        &-3 {
            color: transparent;
            -webkit-text-stroke: vh(3px) $RosemeryDark;
        }

        &-4 {
            color: transparent;
            -webkit-text-stroke: vh(2px) $RosemeryDark;
        }

        &-5 {
            color: transparent;
            -webkit-text-stroke: vh(1px) $RosemeryDark;
        }
    }

    &__content {
        width: 50%;
        padding-top: vh(90px);
        padding-right: vh(68px);
        padding-left: vh(40px);
        padding-bottom: vh(70px);

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        background-color: $RosemeryDark;
    }

    &__eye {
        width: vh(166px);
        height: vh(96px);
        align-self: flex-end;

        & path {
            stroke-width: 0.5px;
        }
    }

    &__form {
        margin-top: vh(10px);
    }

    &__socialLinks {
        margin-top: vh(85px);
    }

    & .successSubmit {
        margin-top: vh(150px);
        align-items: flex-start;

        &__title,
        &__text {
            text-align: left;
        }

        &__button {
            display: none;
        }
    }
}

@media (min-width: 700px) and (max-aspect-ratio: 18 / 10) {
    .contacts {
        &__titleSection {
            padding-top: vw(130px);
            padding-left: vw(68px);
        }

        &__smallTitle {
            margin-left: vw(10px);
            margin-bottom: vw(10px);
            font-size: vw(14px);
        }

        &__title {
            font-size: vw(144px);

            &-2 {
                font-size: vw(144px);
                -webkit-text-stroke: vw(4px) $RosemeryDark;
            }

            &-3 {
                color: transparent;
                -webkit-text-stroke: vw(3px) $RosemeryDark;
            }

            &-4 {
                color: transparent;
                -webkit-text-stroke: vw(2px) $RosemeryDark;
            }

            &-5 {
                color: transparent;
                -webkit-text-stroke: vw(1px) $RosemeryDark;
            }
        }

        &__content {
            padding-top: vw(90px);
            padding-right: vw(68px);
            padding-left: vw(40px);
        }

        &__form {
            margin-top: vw(10px);
        }

        &__eye {
            width: vw(166px);
            height: vw(96px);
        }

        &__socialLinks {
            margin-top: vw(85px);
        }

        & .successSubmit {
            margin-top: vw(150px);
        }
    }
}

@media (max-width: 700px) {
    .contactsAndFooter {
        position: static;
        height: auto;
    }

    .contacts {
        padding: vw(30px, 390px) vw(16px, 390px);
        flex-direction: column;
        background-color: $Oragon;

        ::selection {
            background-color: $RosemeryDark;
            color: $Oragon;
        }

        &__titleSection {
            width: 100%;
            padding-top: 0;
            padding-left: 0;
        }

        &__smallTitle {
            display: none;
        }

        &__title {
            font-size: vw(24px, 390px);
            font-weight: 700;

            &-2 {
                display: none;
            }

            &-3 {
                display: none;
            }

            &-4 {
                display: none;
            }

            &-5 {
                display: none;
            }
        }

        &__content {
            width: 100%;
            background: none;

            padding-top: 0;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }

        &__eye {
            display: none;
        }

        &__form {
            margin-top: vw(16px, 390px);

            & .contactsForm__link:hover {
                color: $Coal;
            }
        }

        &__socialLinks {
            margin-top: vw(30px, 390px);

            & .socialLink__circle {
                background-color: $RosemeryDark;
            }

            & .socialLink__icon {
                border-color: $RosemeryDark;

                & path {
                    fill: $RosemeryDark;
                }
            }

            & .socialLink:hover {
                & .socialLink__icon {
                    border-color: $Oragon;

                    & svg path {
                        fill: $Oragon;
                    }
                }
            }
        }

        & .contactsForm {
            &__title {
                color: $RosemeryDark;
            }

            & .input,
            & .textarea {
                border-color: $RosemeryDark;
                background-color: $Oragon;
                color: $RosemeryDark;

                &__label {
                    background-color: $Oragon;
                    color: $RosemeryDark;
                }

                &:focus,
                &__filled {
                    border-color: $RosemeryDark;

                    &+.input__label,
                    &+.textarea__label {
                        color: $Coal;
                    }
                }

                &:focus {
                    border-color: $Coal;

                    &+.input__label,
                    &+.textarea__label {
                        color: $Coal;
                    }
                }
            }

            &__button {
                border-color: $RosemeryDark;

                &:hover {
                    background-color: $Rosemery;
                    border-color: $Rosemery;
                    color: $Milk;
                }

                &:active {
                    background-color: $Rosemery;
                    border-color: $Rosemery;
                    color: $Milk;
                }
            }

            &__acceptionText {
                color: $RosemeryDark;
            }
        }

        & .successSubmit {
            color: $RosemeryDark;
            margin-top: vw(20px, 390px);
        }
    }
}