@import "/src/components/common/variables";

.social-link {
    position: relative;

    width: 11.11vh;
    height: 11.11vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    transition: border-color .3s $timing-function;   

    &:hover {
        border-color: $teal;
    }
    & svg {
        max-width: 4.17vh;
        height: auto;
    }
    & path {
        transition: fill .3s $timing-function;   
    }
    &:hover path {
        fill: $teal;
    }

    &::after {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;

        border-radius: 50%;
        border: 1px solid $orange;

        content: "";
    }
    &:hover::after {
        border-color: $teal;
    }
    &::before {
        position: absolute;
        top: -1.39vh;
        left: -1.39vh;
        z-index: -2;
    
        width: 13.89vh;
        height: 13.89vh;
        border-radius: 50%;
        background-color: $orange;
        transform: scale(0);
    
        content: "";
        transition: transform .3s $timing-function;   
    }
    &:hover::before {
        transform: scale(1);
    }
}

@media (max-width: $tablet2) {
    .social-link {
        width: 90px;
        height: 90px;

        & svg {
            max-width: 32px;
        }
        &::before {
            width: 110px;
            height: 110px;
            top: -10px;
            left: -10px;
        }
    }

}