@import "/src/components/common/variables";

$timing-function: cubic-bezier(.4,0,0,1);

$background-duration: 0.45s;
$background-delay: 0s;
$background-timing-function: $timing-function;

$borders-duration: 0.3s;
$borders-delay: 0s;
$borders-timing-function: $timing-function;

$title-duration: 0.8s;
$title-first-delay: 0s;
$title-second-delay: 0.2s;
$title-timing-function: $timing-function;

$subtitle-duration: 0.5s;
$subtitle-delay: 0.3s;
$subtitle-timing-function: $timing-function;

$input-duration: 0.45s;
$input-delay: 0.3s;
$input-second-delay: 0.35s;
$input-third-delay: 0.4s;
$input-timing-function: $timing-function;

$message-delay: 0.4s;
$submit-button-delay: 0.5s;

$social-media-link-duration: 0.3s;
$social-media-link-delay: 0.6s;
$social-media-link-timing-function: $timing-function;

$close-button-duration: 0.3s;
$close-button-delay: 0s;
$close-button-timing-function: $timing-function; 

@media (max-width: $mobile) {
    $message-delay: 0.45s;
}
