// Colors
$white: #ffffff;
$teal: #2E5E6A;
$orange: #FDAA5A;
$teal-light: #3D6D79;
$grey: #e0e2ee;

$closeButtonSize: 5.56vh;
$timing-function: cubic-bezier(.4,0,0,1);

// Media breakpoints

//  -- mobile from 0 to 640; 
//  -- tablet from 640 to 960;
//  -- tablet2 from 960 to 1300;
//  -- and desktop from 1300 to infinity

$mobile: 640px;
$tablet: 960px;
$tablet2: 1300px;
@mixin media-tablet-or-narrowScreen { @media (max-width: $tablet), (max-aspect-ratio: 7 / 5) { @content } };

@media (max-width: $tablet2) {
    $closeButtonSize: 48px;
}