@import "../../styles/lib.scss";

.contactsPopup {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;

    display: block;
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    &__inner {
        width: 100vw;
        min-height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        padding-top: vw(102px);
        padding-bottom: vw(40px);
        padding-left: vw(100px);
        padding-right: vw(100px);

        color: $Coal;
    }

    & .closeButton {
        transform: translateY(0%);
        position: fixed;
        top: vw(30px);
        z-index: 2;
    }

    &__line {
        position: relative;
        opacity: 1;

        &:first-of-type {
            margin-top: vw(30px);
            transition-duration: 0.3s;
        }

        &:last-of-type {
            margin-top: auto;
            transition-duration: 0.7s;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-top: vw(60px);
        position: relative;

        font-size: vw(48px);
        font-weight: 400;
        transition: opacity 0.3s 0.3s cubic-bezier(0.4, 0, 0, 1);

        &-hide {
            display: none;
        }
    }

    &__description {
        margin-top: vw(20px);
        font-size: vw(26px);
        transition: opacity 0.3s 0.3s cubic-bezier(0.4, 0, 0, 1);
    }

    & .contactsPopup__form {
        width: vw(850px);
        margin-top: vw(40px);
        margin-bottom: vw(50px);

        & .contactsForm__title {
            width: 100%;
            text-align: center;
            position: relative;
        }

        & .contactsForm__button {
            position: relative;
        }

        & .contactsForm__link:hover {
            color: $Coal;
        }
    }

    &__form,
    &__successSubmit {
        transition: opacity 0.4s 0.5s cubic-bezier(0.4, 0, 0, 1);
    }

    &__socialLinks {
        margin-top: vw(40px);
    }

    & .socialLink {
        transform: scale(1);
        transition: transform 0.3s 0.6s cubic-bezier(0.4, 0, 0, 1);

        &__circle {
            opacity: 0;
        }
    }

    &__left,
    &__right {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
        background-color: $Light-Gray;
    }

    &__left {
        transform-origin: 100% 50%;
    }

    &__right {
        transform-origin: 0% 50%;
        left: 50%;
    }

}

.contactsPopup-close {
    visibility: hidden;
    transition: visibility 0s 0.9s;
    pointer-events: none;

    & .socialLink {
        transform: scale(0);

        &__circle {
            opacity: 0;
        }
    }

    & .contactsPopup {
        &__closeButton {
            transform: translateY(-200%);
            transition: transform 0.3s 0.3s cubic-bezier(0.4, 0, 0, 1);
        }

        &__line {
            opacity: 0;
            transition: opacity 0.3s 0.5s cubic-bezier(0.4, 0, 0, 1);
        }

        &__left,
        &__right {
            transition: transform 0.4s 0.5s cubic-bezier(0.4, 0, 0, 1);
            transform: scaleX(0);
        }

        &__form,
        &__successSubmit {
            transition: opacity 0.3s 0.2s cubic-bezier(0.4, 0, 0, 1);
            opacity: 0;
        }

        &__title {
            transition: opacity 0.3s 0.2s cubic-bezier(0.4, 0, 0, 1);
            opacity: 0;
        }

        &__description {
            opacity: 0;
            transition: opacity 0.3s 0.2s cubic-bezier(0.4, 0, 0, 1);
        }
    }
}

@media (max-width: 700px) {
    .contactsPopup {
        &__line {
            display: none;
        }

        &__inner {
            padding-top: 70px;
            padding-bottom: 150px;
        }

        &__title {
            max-width: 300px;
            margin-top: 24px;
            font-size: 24px;
            text-align: center;
        }

        &__description {
            font-size: 16px;
            text-align: center;
        }

        & .contactsPopup__form {
            margin-top: 16px;
            margin-bottom: 30px;
            width: 100%;

            .contactsForm__inputs {
                margin-top: 24px;
            }
        }

        & .closeButton {
            top: 24px;
        }
    }
}