@import "/src/components/common/variables";
@import "/src/components/common/contactsAnimationParameters";

// Contacts
.contacts {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
    visibility: visible;
    pointer-events: all;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100%;
    
    color: $white;
    text-transform: uppercase;
    text-align: center;

    &::before, &::after {
        position: absolute;
        z-index: -2;
        top: 0;
        
        width: 50%;
        min-height: 100%;

        background-color: $teal;
        content: "";

        transition: transform $background-duration $background-timing-function $background-delay;
    }
    &::before {
        left: 0%;
        transform-origin: right center;
    }
    &::after {
        left: 50%;
        transform-origin: left center;
    }
}

.contactsHidden {
    visibility: hidden;
    pointer-events: none;

    transition: visibility 0s 1s;

    &::before, &::after {
        transform: scaleX(0);
        transition-delay: 0.6s;
    }
}
.contacts__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    width: 100%;
    padding-top: calc(2.78vh * 2 + 5.56vh);
    padding-bottom: 4vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


// Content
.content {
    width: calc(100% - 18.52vh);
    min-width: 87.96vh;
    padding: 4.57vh 0;

    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;

    flex: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: border-color $borders-duration $borders-timing-function $borders-delay;
}
.contactsHidden .content{
    border-color: transparent;
}

// Title
.title {
    max-width: 64.81vh;

    display: flex;
    flex-direction: column;

    font-size: 6.11vh;
}
.title__outer {
    overflow: hidden;
    display: block;
}
.title__inner {
    display: block;
    transition: transform $title-duration $title-timing-function; 
}
.title__outer:nth-child(1) .title__inner {
    transition-delay: $title-first-delay;
}
.title__outer:nth-child(2) .title__inner {
    transition-delay: $title-second-delay;
}
.contactsHidden .title__inner {
    transform: translateY(100%);
}


// Subtitle
.subtitle {
    margin-top: 2.31vh;

    font-size: 2.22vh;
    font-weight: 400;   
    color: $orange;
    width: 100%;

    display: flex;
    justify-content: center;
}
.subtitle__inner {
    display: block;
    width: 100%;
    
    transform: translateY(0%);
    opacity: 1;
    transition: transform $subtitle-duration $subtitle-timing-function $subtitle-delay, 
                opacity $subtitle-duration $subtitle-timing-function $subtitle-delay;

}
.contactsHidden .subtitle__inner {
    transform: translateY(100%);
    opacity: 0;
}

// Form
.form {
    max-width: 83.33vh;
    margin-top: 2.78vh;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2.31vh;
}
.inputWrapper {
    overflow: hidden;
    padding-top: 0.93vh;
    flex: 30%;
}
.input {
    transition: transform $input-duration $input-timing-function $input-delay;
}
.contactsHidden .input{
    transform: translateY(120%);
}
.inputMessageWrapper {
    overflow: hidden;

    height: 14.35vh;
    margin-top: 1.86vh;
    padding-top: 0.93vh;
    padding-bottom: 1px;

    flex: 1 100%;

    & .input {
        transition-delay: $message-delay;
    }
    & div { // похоже на костыль
        height: 100%;
    }
}
.submitButtonWrapper {
    overflow: hidden;
    margin-top: 4.19vh;

    & .input {
        transition: transform $input-duration $input-timing-function $submit-button-delay;
    }
}

// Social Media
.social-media {
    margin-top: 4vh;
    display: flex;
    gap: 8.33vh;
}
.socialMediaLink {
    transform: scale(1);
    transition: $social-media-link-duration $social-media-link-timing-function $social-media-link-delay;
}
.contactsHidden .socialMediaLink {
    transform: scale(0);
}

// Close button
.closeButton {
    position: fixed;
    top: 2.78vh;
    z-index: 1;

    transition: transform $close-button-duration $close-button-timing-function $close-button-delay;
}
.contactsHidden .closeButton {
    transform: translateY(-18.52vh);
}


// Media queries
@media (max-width: $tablet2) {
    .contacts__wrapper {
        padding-top: calc(30px * 2 + 46px);
        padding-bottom: 30px;
    }
    .content {
        width: calc(100% - 80px);
        min-width: auto; 
        padding: 50px 0;
    }
    .title {
        max-width: 700px;
        font-size: 36px;
    }
    .subtitle {
        margin-top: 25px;
        font-size: 24px;
    }
    .form {
        max-width: calc(100% - 60px);
        margin-top: 20px;
        column-gap: 20px;
    }
    .inputWrapper {
        padding-top: 10px;
    }
    .inputMessageWrapper {
        height: 110px;
        margin-top: 18px;
        padding-top: 10px;
    }
    .submitButtonWrapper {
        margin-top: 28px;
    }
    .social-media {
        margin-top: 30px;
        gap: 65px;
    }
    .closeButton {
        top: 30px;
    }
    .contactsHidden .closeButton {
        transform: translateY(-200px);
    }
}
@media (max-width: $tablet) {
    .content {
        width: calc(100% - 20px);    
        padding-bottom: 75px;
    }
    .form {
        column-gap: 15px;
    }  
    .inputMessageWrapper {
        height: 230px;
    }
}
@media (max-width: $mobile) {
    // как будто костыль
    @import "/src/components/common/contactsAnimationParameters"; 

    .contacts {
        padding-bottom: 50px;
    }
    .contacts__wrapper {
        padding-bottom: 50px;
    }
    .content {
        padding-bottom: 50px;
    }
    .title {
        font-size: 28px;
    }
    .subtitle {
        font-size: 20px;
    }
    .form {
        column-gap: 20px;
        row-gap: 10px;

        & .inputWrapper:nth-child(2) .input {
            transition-delay: $input-second-delay;
        }
        & .inputWrapper:nth-child(3) .input {
            transition-delay: $input-third-delay;
        }
    }
    .inputWrapper {
        flex: 100%;
    }
    .inputMessageWrapper {
        margin-top: 0;

        & .input {
            transition-delay: $message-delay;
        }
    }
    .submitButtonWrapper {
        margin-top: 10px;
    }
    .social-media {
        width: 250px;
        margin-top: 50px;

        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
}